body {
    
    background: linear-gradient(270deg, 
    #0B3D36, #134E5E, #1F3D4F, #2E4A4E, 
    #213E46, #123236, #0B2B29, #081F1F, 
    #021F21, #031C31, #05274E, #0F3B48, 
    #093236, #051F21, #102A49, #174850, 
    #123236, #1D4946, #2B6468, #346D61, 
    #3E7562, #42796E, #163C5A, #1C5265, 
    #093236, #0B3D36, #081F1F, #05274E, 
    #031C31, #2B6456, #174850, #0B3D36, 
    #213E46, #163C5A, #2E4A4E, #031C31, 
    #102A49, #134E5E, #0F3B48, #051F21, 
    #123236, #174850, #0B2B29, #05274E);
    background-size: 400% 400%;
    /*animation: gradientShift 30s ease infinite;*/
 
  }
  
  @keyframes gradientShift {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
  


header{
    display: flex;
    justify-content: center;
}
.polmo{
    font-size: 50px;
    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.buttons {
    margin: 10px auto;
    max-width: 399px;
    width: 100%;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    padding: 20px;
   
}

#startButton, #pauseButton, #breakButton {
    display: inline-block;
    border: #f5fff6 solid;
    margin: 0 10px; /* Optional: Adjust spacing between buttons */
   
  
}

#breakButton{
    font-size: small;
    
}


.btn{
    color: #ffffff;
    font-size: large;
    font-weight: 300;
    font-style:italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    margin-left: 45%;
    width: 100px;
    height: 70px; 
    margin-top: 10px; 
    
}

.container{ 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 7px solid;
    border-image:linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    border-image-slice: 1;
    height: 300px;
    width: 400px;
    margin: auto;
    background:transparent;
}

/*.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 9px solid; 
    border-image:  linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    border-image-slice: 1;
    border-radius: 50%;
    height: 300px;
    width: 400px;
    margin: auto;
    background: transparent;
}*/


#counter{
    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    position: relative;
    align-self: auto;
    font-size: 90px;
    background-color: transparent;
}

/**********************************************/
@media (max-width : 450px) {
    .container{
        max-width: 375px;
    }

    .timer{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: #798645 solid 1px;
        height: 300px;
        width: 300px;
        margin: auto;
       
        border: #FEFF9F solid 10px;
    }
    
    .start{
        color: white;
      
        margin-left: 40%;
        width: 100px;
        height: 70px; 
        margin-top: 10px; 
        
    }

    
}

/*******************************************************/
@media (min-width : 900px) {

    .btn{
        color: white;
       
        margin-left: 48%;
        width: 100px;
        height: 70px; 
        margin-top: 10px; 
        
    }
}

@media (max-width : 376px) {
    .polmo{  
        margin-left:20% ;
    }

    
}

/*****************************************/
@media (min-width :800px) {

    .whole{
        margin: 30px auto;
    }
    

    .container{
        width: 500px;
        height: 400px;
        
    }
    
    #counter{
       font-size: 160px;
        width: 400px;
        height: 400px;
        text-align: center;
        align-items: center;
        align-content: center;
        margin-bottom: 19px;

    }
    
}



/*********************************************/
@media (min-height :800px) {
    .whole{
       
        margin: 50px auto;
    }
    
}


