
body{
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

header{
    display: flex;
    justify-content: center;
}
.polmo{
    font-size: 50px;
    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.buttons {
    margin: 10px auto;
    max-width: 399px;
    width: 100%;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically if needed */
    padding: 20px;
   
}

#startButton, #pauseButton, #breakButton {
    display: inline-block;
    border: #f5fff6 solid;
    margin: 0 10px; /* Optional: Adjust spacing between buttons */
   
  
}

#breakButton{
    font-size: small;
    
}


.btn{
    color: #ffffff;
    font-size: large;
    font-weight: 300;
    font-style:italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    margin-left: 45%;
    width: 100px;
    height: 70px; 
    margin-top: 10px; 
    
}

.container{ 
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 7px solid;
    border-image:linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    border-image-slice: 1;
    height: 300px;
    width: 400px;
    margin: auto;
    background:transparent;
}

/*.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 9px solid; 
    border-image:  linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    border-image-slice: 1;
    border-radius: 50%;
    height: 300px;
    width: 400px;
    margin: auto;
    background: transparent;
}*/


#counter{
    background: linear-gradient(90deg, hsla(141, 81%, 87%, 1) 0%, hsla(41, 88%, 75%, 1) 50%, hsla(358, 82%, 71%, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    position: relative;
    align-self: auto;
    font-size: 90px;
    background-color: transparent;
}

@media (max-width : 450px) {
    .container{
        max-width: 375px;
    }

    .timer{
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border: #798645 solid 1px;
        height: 300px;
        width: 300px;
        margin: auto;
       
        border: #FEFF9F solid 10px;
    }
    
    .start{
        color: white;
      
        margin-left: 40%;
        width: 100px;
        height: 70px; 
        margin-top: 10px; 
        
    }

    
}


@media (min-width : 900px) {

    .btn{
        color: white;
       
        margin-left: 48%;
        width: 100px;
        height: 70px; 
        margin-top: 10px; 
        
    }
}

@media (max-width : 376px) {
    .polmo{  
        margin-left:20% ;
    }

    
}
